Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label common-graphql PRs, Label engine PRs, Label giapi PRs, Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label ocs2_api PRs, Label server PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common-graphql PRs
  conditions:
  - files~=^modules/common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label giapi PRs
  conditions:
  - files~=^modules/giapi/
  actions:
    label:
      add:
      - giapi
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server PRs
  conditions:
  - files~=^app/observe-server/
  actions:
    label:
      add:
      - observe-server
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^app/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^app/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^app/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^app/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label ocs2_api PRs
  conditions:
  - files~=^modules/ocs2_api/
  actions:
    label:
      add:
      - ocs2_api
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []

adopt sbt-clue plugin
  project/plugins.sbt
Due: none

headers
  modules/web/src/main/scala/observe/demo/package.scala
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/Page.scala
  modules/web/src/main/scala/observe/ui/Routing.scala
  modules/web/src/main/scala/observe/ui/components/HeadersSideBar.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/ThemeSelector.scala
  modules/web/src/main/scala/observe/ui/components/package.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/queue/package.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/web/src/main/scala/observe/ui/display/givens.scala
  modules/web/src/main/scala/observe/ui/model/Execution.scala
  modules/web/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueFilter.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/src/main/scala/observe/ui/model/TabOperations.scala
  modules/web/src/main/scala/observe/ui/model/enums/ObsClass.scala
  modules/web/src/main/scala/observe/ui/model/enums/OffsetsDisplay.scala
  modules/web/src/main/scala/observe/ui/model/extensions/stepExtensions.scala
  modules/web/src/main/scala/observe/ui/model/extensions/stepListExtensions.scala
  modules/web/src/main/scala/observe/ui/model/formatting.scala
  modules/web/src/main/scala/observe/ui/model/reusability.scala
  modules/web/src/main/scala/observe/ui/utils.scala
Due: Label server PRs

workflows
  .github/workflows/ci.yml
Due: none

workflows
  .mergify.yml
Due: none

fix rebase
  build.sbt
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  project/Settings.scala
Due: Label server PRs

update libs, headers
  modules/new_model/shared/src/main/scala/observe/model/ClientStatus.scala
  modules/new_model/shared/src/main/scala/observe/model/Conditions.scala
  modules/new_model/shared/src/main/scala/observe/model/Enumerations.scala
  modules/new_model/shared/src/main/scala/observe/model/ExecutionStep.scala
  modules/new_model/shared/src/main/scala/observe/model/NodAndShuffleStatus.scala
  modules/new_model/shared/src/main/scala/observe/model/NsSubexposure.scala
  modules/new_model/shared/src/main/scala/observe/model/ObservationProgress.scala
  modules/new_model/shared/src/main/scala/observe/model/Offset.scala
  modules/new_model/shared/src/main/scala/observe/model/RunningStep.scala
  modules/new_model/shared/src/main/scala/observe/model/UserDetails.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/ActionStatus.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/CloudCover.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/ExecutionStepType.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/Guiding.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/ImageQuality.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/NodAndShuffleStage.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/NsAction.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/ObservationStage.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/Resource.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SequenceState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SkyBackground.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/StepState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SystemName.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/WaterVapor.scala
  modules/new_model/shared/src/main/scala/observe/model/newTypes.scala
  modules/new_model/shared/src/main/scala/observe/model/operations/package copy.scala
  modules/new_model/shared/src/main/scala/observe/model/operations/package.scala
  modules/new_model/shared/src/main/scala/observe/model/optics/executionStepOptics.scala
  modules/web/src/main/scala/observe/ui/components/HeadersSideBar.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label server PRs

scalafmt
  modules/server/src/main/scala/observe/server/EpicsUtil.scala
  modules/server/src/main/scala/observe/server/altair/AltairEpics.scala
  modules/server/src/main/scala/observe/server/flamingos2/Flamingos2Controller.scala
  modules/server/src/main/scala/observe/server/flamingos2/Flamingos2Epics.scala
  modules/server/src/main/scala/observe/server/gcal/GcalEpics.scala
  modules/server/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server/src/main/scala/observe/server/gmos/GmosEpics.scala
  modules/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  modules/server/src/main/scala/observe/server/gnirs/GnirsEpics.scala
  modules/server/src/main/scala/observe/server/gsaoi/GsaoiEpics.scala
  modules/server/src/main/scala/observe/server/nifs/NifsEpics.scala
  modules/server/src/main/scala/observe/server/niri/NiriEpics.scala
  modules/server/src/main/scala/observe/server/tcs/TcsEpics.scala
  modules/server/src/main/scala/observe/server/tcs/TcsSettleTimeCalculator.scala
  modules/server/src/main/scala/observe/server/tcs/package.scala
Due: Label server PRs

cleanup build.sbt and aggregate new web
  build.sbt
Due: none

workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

workflows
  modules/web/.github/workflows/ci.yml
  modules/web/.github/workflows/clean.yml
Due: Label server PRs

remove implicit conversions
  build.sbt
Due: none

address PR suggestion
  modules/new_model/shared/src/main/scala/observe/model/enums/SystemName.scala
Due: Label server PRs

update versions, headers
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label server PRs

update libs
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server PRs

update versions
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server PRs

obs query
  build.sbt
  modules/server/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/src/main/scala/observe/demo/package.scala
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/src/main/scala/observe/ui/package.scala
  modules/web/vite.config.js
  project/Settings.scala
Due: Label server PRs

update versions, remove unused
  build.sbt
  modules/new_model/shared/src/main/scala/observe/model/ClientStatus.scala
  modules/new_model/shared/src/main/scala/observe/model/ExecutionStep.scala
  modules/new_model/shared/src/main/scala/observe/model/ObservationProgress.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/ExecutionStepType.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/Guiding.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/NodAndShuffleStage.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SystemName.scala
  modules/new_model/shared/src/main/scala/observe/model/optics/executionStepOptics.scala
  modules/web/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/src/main/scala/observe/demo/package.scala
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/components/HeadersSideBar.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/package.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/web/src/main/scala/observe/ui/model/Execution.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/src/main/scala/observe/ui/model/TabOperations.scala
  modules/web/src/main/scala/observe/ui/model/extensions/stepExtensions.scala
  modules/web/src/main/scala/observe/ui/utils.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label server PRs

workflows
  .mergify.yml
  .scalafmt-common.conf
  modules/web/.github/workflows/ci.yml
Due: Label server PRs

disable fatal warnings
  build.sbt
Due: none

remove unused shapeless imports
  modules/model/shared/src/test/scala/observe/model/arb/ArbGmosParameters.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbNSSubexposure.scala
  modules/web/src/main/scala/observe/ui/Main.scala
Due: Label model PRs, Label server PRs

login
  .gitignore
  build.sbt
  modules/web/src/main/public/environments.conf.json
  modules/web/src/main/scala/observe/ui/AppConfig.scala
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/BroadcastEvent.scala
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/src/main/webapp/styles/prime.scss
  modules/web/vite.config.js
  project/Settings.scala
  project/plugins.sbt
Due: Label server PRs

workflows
  .scalafmt-common.conf
  modules/web/.github/workflows/ci.yml
Due: Label server PRs

workflows 2
  .github/workflows/ci.yml
Due: none

Partial implementation of new ODB model integration.
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
Due: Label engine PRs, Label model PRs, Label server PRs

Add keywordname enums
  modules/model/shared/src/main/scala/observe/model/enums/DhsKeywordName.scala
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
Due: Label model PRs, Label server PRs

Updated mergify.yml
  .mergify.yml
Due: none

query obs and seq from odb
  build.sbt
  modules/new_model/shared/src/main/scala/observe/model/ExecutionStep.scala
  modules/new_model/shared/src/main/scala/observe/model/Offset.scala
  modules/new_model/shared/src/main/scala/observe/model/SequenceStep.scala
  modules/new_model/shared/src/main/scala/observe/model/optics/executionStepOptics.scala
  modules/web/src/main/scala/observe/demo/package.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/ThemeSelector.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/web/src/main/scala/observe/ui/model/Execution.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/src/main/scala/observe/ui/model/extensions/stepExtensions.scala
  modules/web/src/main/scala/observe/ui/model/extensions/stepListExtensions.scala
  modules/web/src/main/scala/observe/ui/model/formatting.scala
  modules/web/src/main/scala/observe/ui/model/reusability.scala
  modules/web_old/client/src/main/scala/observe/web/client/model/tabs.scala
  sbt-launch.jar
Due: Label server PRs

update sidebar
  modules/web/src/main/scala/observe/ui/components/HeadersSideBar.scala
Due: Label server PRs

fixes and simplifications
  modules/new_model/shared/src/main/scala/observe/model/SequenceStep.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
Due: Label server PRs

organize imports
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
Due: Label server PRs

organize imports in all projects
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Execution.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/Step.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/giapi/src/main/scala/giapi/client/GiapiClient.scala
  modules/giapi/src/main/scala/giapi/client/GiapiStatusDb.scala
  modules/giapi/src/main/scala/giapi/client/commands/package.scala
  modules/giapi/src/main/scala/giapi/client/ghost/GhostClient.scala
  modules/giapi/src/main/scala/giapi/client/gpi/GpiClient.scala
  modules/giapi/src/main/scala/giapi/client/package.scala
  modules/giapi/src/test/scala/giapi/client/GiapiArbitraries.scala
  modules/giapi/src/test/scala/giapi/client/GiapiCommandSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiStatusSpec.scala
  modules/model/jvm/src/main/scala/observe/model/config/AuthenticationConfig.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/SmartGcalConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/WebServerConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/package.scala
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/GmosParameters.scala
  modules/model/shared/src/main/scala/observe/model/RunningStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/Step.scala
  modules/model/shared/src/main/scala/observe/model/TelescopeGuideConfig.scala
  modules/model/shared/src/main/scala/observe/model/boopickle/ModelBooPicklers.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObsActiveStatus.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
Due: Label engine PRs, Label giapi PRs, Label model PRs, Label server PRs

rebase
  modules/model/shared/src/main/scala/observe/model/boopickle/ModelBooPicklers.scala
Due: Label model PRs, Label server PRs

more version bumps
  .scalafmt.conf
  project/Settings.scala
  project/build.properties
  project/plugins.sbt
Due: none
