Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label engine PRs, Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs, Label web PRs, Label web-clue PRs

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server PRs:
  label:
    add:
    - observe-server
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

Label web PRs:
  label:
    add:
    - web
    remove: []

Label web-clue PRs:
  label:
    add:
    - web-clue
    remove: []

execute subsystems from UI
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label model PRs, Label web PRs

simulate subsystem execution
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/webapp/styles/style.scss
Due: Label model PRs, Label web PRs

increase scalafmt limits
  .scalafmt.conf
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
Due: Label web PRs

scalafmt
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
Due: Label web PRs

fix test
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
Due: Label model PRs

scalafmt
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
Due: Label model PRs

correct icon/buttons when executing
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label web PRs

scalafmt
  modules/web/client/src/main/scala/observe/ui/Icons.scala
Due: Label web PRs

remove comments
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
Due: Label web PRs

disable possible future
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

Include step resources being executed as part of the state
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/ActionCoords.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Execution.scala
  modules/engine/src/main/scala/observe/engine/Response.scala
  modules/engine/src/main/scala/observe/engine/Result.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label engine PRs, Label model PRs, Label server_new PRs, Label web PRs

Simplify the changes on thee engine as per PR discussion
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Execution.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/Response.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/stateengine/src/test/scala/stateengine/StateEngineSuite.scala
Due: Label engine PRs, Label server_new PRs, Label stateengine PRs

Suggested PR fix
  modules/engine/src/main/scala/observe/engine/Engine.scala
Due: Label engine PRs

Comment code not working after rebase
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
Due: Label web PRs

better error display, move logic out of Home
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

rebase
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Settings.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

fix tests
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
Due: Label model PRs

unify config panel
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

move config panel to sequence tab
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
Due: Label web PRs

all config working
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label web PRs

scalafix
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label web PRs

migrate pause/stop/resume/abort endpoints
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label server PRs, Label web PRs

address pr comments
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label server PRs, Label web PRs

Pass along all the Model update events
  modules/model/shared/src/main/scala/observe/model/events.scala
Due: Label model PRs

Remove step id on some routes
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label server PRs, Label web PRs

api, pause button
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label server_new PRs, Label web PRs

intermediate refactor
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

cogens, organize imports
  modules/engine/src/test/scala/observe/engine/EngineSpec.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbEnvironment.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNSRunningState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbObservationProgress.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbTelescopeGuideConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/enums/OperationRequestOpticsSuite.scala
  modules/web/client-model/src/test/scala/observe/ui/model/enums/arb/ArbOperationRequest.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  project/Settings.scala
Due: Label engine PRs, Label model PRs, Label server_new PRs, Label web PRs

fix version
  project/Settings.scala
Due: none

button strip
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  project/Settings.scala
Due: Label web PRs

format + ignore
  .gitignore
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label web PRs

intermediate commit
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs, Label web PRs

intermediate commit
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label web PRs

working again
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label web PRs

cleanup
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
Due: Label web PRs

cleanup
  build.sbt
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
Due: Label server PRs, Label web PRs

uncomment/readme
  README.md
  build.sbt
Due: none

final touches
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/TLS.md
  modules/web/server/cacerts.jks.dev
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/package.scala
Due: Label server PRs, Label web PRs

migrate syntax to scala 3
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
Due: Label server PRs, Label web PRs

Path conditions:
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server PRs: any of: ^app/observe-server/
  Label observe-server-gn PRs: any of: ^app/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^app/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^app/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^app/observe-server-gs-test/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
  Label web PRs: any of: ^modules/web/
  Label web-clue PRs: any of: ^modules/web-clue/
