Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label engine PRs, Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs, Label web PRs, Label web-clue PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server PRs
  conditions:
  - files~=^app/observe-server/
  actions:
    label:
      add:
      - observe-server
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^app/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^app/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^app/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^app/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []
- name: Label web PRs
  conditions:
  - files~=^modules/web/
  actions:
    label:
      add:
      - web
      remove: []
- name: Label web-clue PRs
  conditions:
  - files~=^modules/web-clue/
  actions:
    label:
      add:
      - web-clue
      remove: []

cacerts was renamed
  build.sbt
Due: none

show progress in the client
  modules/model/shared/src/main/scala/observe/model/ObservationProgress.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbObservationProgress.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepProgress.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/package.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

fix test
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
Due: Label web PRs

embed JRE with deployed package
  build.sbt
  project/AppsCommon.scala
Due: none

fix derived typeclasses
  modules/model/shared/src/main/scala/observe/model/NSSubexposure.scala
  modules/model/shared/src/main/scala/observe/model/ObservationProgress.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
Due: Label model PRs

jre 17
  build.sbt
Due: none

JRE path in symlink
  .gitignore
  build.sbt
  project/AppsCommon.scala
Due: none

multiple deploys
  README.md
  app/observe-server-gn-test/src/main/resources/app.conf
  app/observe-server-gn-test/src/main/resources/app/environments.conf.json
  app/observe-server-gn-test/src/main/resources/conf/app.conf
  app/observe-server-gn/src/main/resources/app.conf
  app/observe-server/src/main/resources/conf/app.conf
  app/observe-server/src/main/resources/systemd/observe-server.env
  app/observe-server/src/main/resources/systemd/observe-server.service
  app/observe-server/src/main/resources/update_smartgcal
  build.sbt
  modules/model/jvm/src/main/scala/observe/model/config/AuthenticationConfig.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web_old/server/src/test/scala/observe/web/server/config/ConfigurationLoaderSpec.scala
  modules/web_old/server/src/test/scala/observe/web/server/security/FreeLDAPAuthenticationServiceSpec.scala
  modules/web_old/server/src/test/scala/observe/web/server/security/JWTTokensSpec.scala
  project/AppsCommon.scala
Due: Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label server PRs, Label web PRs

remove service tokens
  app/observe-server-gn-test/src/main/resources/conf/app.conf
  app/observe-server/src/main/resources/conf/app.conf
Due: Label observe-server PRs, Label observe-server-gn-test PRs

migrate to latest odb schema
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  project/Settings.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

scalafmt
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
Due: Label server_new PRs

Support configuring Resources and Instrumens per step
  flake.nix
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

General cleanup
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EventResult.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Response.scala
  modules/engine/src/main/scala/observe/engine/package.scala
  modules/model/shared/src/main/scala/observe/model/dhs/package.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObserveCommandResult.scala
  modules/server_new/src/main/scala/observe/server/InstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/ObsQueryInput.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/InstrumentControllerSimSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label engine PRs, Label model PRs, Label server_new PRs

Some fixes for deployment
  app/observe-server-gn/src/main/resources/conf/app.conf
  app/observe-server-gn/src/main/resources/environments.conf.json
  app/observe-server/src/main/resources/conf/app.conf
  app/observe-server/src/universal/bin/jmx_prometheus_javaagent-0.3.1.jar
  app/observe-server/src/universal/bin/prometheus.yaml
  build.sbt
  modules/web/server/src/main/resources/app.conf
Due: Label observe-server PRs, Label observe-server-gn PRs, Label server PRs, Label web PRs

step buttons
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/server/src/main/resources/app.conf
Due: Label model PRs, Label server PRs, Label web PRs

refactor observation summaries into state
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  project/Settings.scala
Due: Label web PRs

remove debug and commented code
  README.md
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label model PRs, Label web PRs

reconnect to server and resync
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Settings.scala
Due: Label web PRs

intermediate commit
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
Due: Label web PRs

show selected obs info, load from header
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label web PRs

keep track of UI requests
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/main/scala/observe/ui/model/enums/OperationRequest.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/enums/OperationRequestOpticsSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label server_new PRs, Label web PRs

remove comments, organize imports
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  modules/web/client-model/src/main/scala/observe/ui/model/enums/OperationRequest.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label server_new PRs, Label web PRs

runFromStep
  .gitignore
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label model PRs, Label web PRs

cancel pause, cleanup
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label model PRs, Label web PRs

cleanup
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
Due: Label web PRs

Include the paused step if a sequence has been paused
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
Due: Label model PRs

respond to paused step
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

Switch to cats-parser
  build.sbt
  modules/server_new/src/main/scala/observe/server/tcs/ScienceFoldPositionCodex.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  project/Settings.scala
Due: Label server_new PRs

Remove old prometheus files
  app/observe-server/src/universal/bin/jmx_prometheus_javaagent-0.3.1.jar
  app/observe-server/src/universal/bin/prometheus.yaml
Due: Label observe-server PRs

Update code to use new event queries and execute some of them
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label server_new PRs

Some cleanups
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

smooth progress bar
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

bump lucuma-ui
  project/Settings.scala
Due: none

remove ldap code
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/ObserveUIApiRoutes.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/FreeLDAPAuthenticationService.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/LdapConnectionOps.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/authentication.scala
Due: Label server_new PRs

docker deployment
  README.md
  app/observe-server/src/main/resources/conf/app.conf
  build.sbt
  deploy/observe-server-gn-test/src/main/resources/app/environments.conf.json
  deploy/observe-server-gn-test/src/main/resources/conf/app.conf
  deploy/observe-server-gn/src/main/resources/conf/app.conf
  deploy/observe-server-gs-test/src/main/resources/conf/app.conf
  deploy/observe-server-gs/src/main/resources/conf/app.conf
  deploy/observe-server-staging/src/main/resources/app/environments.conf.json
  deploy/observe-server-staging/src/main/resources/conf/app.conf
  deploy/observe-server-staging/src/main/resources/systemd/observe-server.env
  deploy/observe-server-staging/src/main/resources/systemd/observe-server.service
  modules/model/jvm/src/main/scala/observe/model/config/Mode.scala
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/ObserveUIApiRoutes.scala
  project/AppsCommon.scala
Due: Label model PRs, Label observe-server PRs, Label server PRs, Label web PRs

regenerate mergify
  .mergify.yml
Due: none

restructure initialization
  build.sbt
  deploy/observe-server-gn-test/src/main/resources/app/environments.conf.json
  deploy/observe-server-staging/src/main/resources/app/environments.conf.json
  modules/model/jvm/src/main/scala/observe/model/config/Mode.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/jvm/src/test/scala/observe/model/config/ConfigModelSuite.scala
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbEnvironment.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/public/environments.conf.json
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/AppConfig.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs, Label web PRs

read client configuration from server
  deploy/observe-server-gn-test/src/main/resources/conf/app.conf
  deploy/observe-server-gn/src/main/resources/conf/app.conf
  deploy/observe-server-gs-test/src/main/resources/conf/app.conf
  deploy/observe-server-gs/src/main/resources/conf/app.conf
  deploy/observe-server-staging/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs, Label web PRs

scalafmt
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
Due: Label web PRs
