Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label engine PRs, Label giapi PRs, Label model PRs, Label modules PRs, Label new_model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label server PRs, Label server_new PRs, Label web PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label giapi PRs
  conditions:
  - files~=^modules/giapi/
  actions:
    label:
      add:
      - giapi
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label modules PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - modules
      remove: []
- name: Label new_model PRs
  conditions:
  - files~=^modules/new_model/
  actions:
    label:
      add:
      - new_model
      remove: []
- name: Label observe-server PRs
  conditions:
  - files~=^app/observe-server/
  actions:
    label:
      add:
      - observe-server
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^app/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^app/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^app/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^app/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label web PRs
  conditions:
  - files~=^modules/web/
  actions:
    label:
      add:
      - web
      remove: []

Restored most tests for ObserveEngine
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/model/shared/src/main/scala/observe/model/enums/Resource.scala
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSystem.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/StepType.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSettleTimeCalculator.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label engine PRs, Label model PRs, Label modules PRs, Label server_new PRs

Fixed merge problems.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label modules PRs, Label server_new PRs

Formatting
  modules/model/shared/src/main/scala/observe/common/FixedLengthBuffer.scala
Due: Label model PRs, Label modules PRs

Restored SeqTranslate tests.
  modules/server/src/test/scala/observe/server/SeqTranslateSpec.scala
  modules/server_new/src/main/scala/observe/server/EpicsHealth.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label modules PRs, Label server_new PRs

Organize imports
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label modules PRs, Label server_new PRs

Restored the watchdog of the main stream process.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label modules PRs, Label server_new PRs

Send the initial state on the first connection
  modules/model/jvm/src/main/scala/observe/model/config/LucumaSSOConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientId.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

allow package.json
  .gitignore
  modules/web/package.json
Due: Label modules PRs, Label web PRs

Switch to unfonts
  modules/web/package.json
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/vite.config.js
Due: Label modules PRs, Label web PRs

Removed unused variable in eventStream
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label modules PRs, Label server_new PRs

Switch to shared giapi-scala lib
  build.sbt
  modules/giapi/src/main/scala/giapi/client/GiapiClient.scala
  modules/giapi/src/main/scala/giapi/client/GiapiConfig.scala
  modules/giapi/src/main/scala/giapi/client/GiapiDb.scala
  modules/giapi/src/main/scala/giapi/client/GiapiStatusDb.scala
  modules/giapi/src/main/scala/giapi/client/commands/package.scala
  modules/giapi/src/main/scala/giapi/client/ghost/GhostClient.scala
  modules/giapi/src/main/scala/giapi/client/gpi/GpiClient.scala
  modules/giapi/src/main/scala/giapi/client/gpi/package.scala
  modules/giapi/src/main/scala/giapi/client/package.scala
  modules/giapi/src/main/scala/giapi/client/syntax/giapiconfig.scala
  modules/giapi/src/main/scala/giapi/client/syntax/package.scala
  modules/giapi/src/main/scala/giapi/client/syntax/status.scala
  modules/giapi/src/test/scala/giapi/client/GiapiArbitraries.scala
  modules/giapi/src/test/scala/giapi/client/GiapiCommandSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiStatusSuite.scala
  modules/giapi/src/test/scala/giapi/client/commands/CommandsSuite.scala
  project/Settings.scala
Due: Label giapi PRs, Label modules PRs

Regenerate workflow
  .mergify.yml
Due: none

workflow
  .mergify.yml
Due: none

remove commented code
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
Due: Label model PRs, Label modules PRs

restore unintended f+r changes to xml files
  modules/server/src/test/resources/gmos-casdb.xml
  modules/server_new/src/main/resources/Gmos.xml
Due: Label modules PRs, Label server_new PRs

remove implicit from Prisms
  modules/model/shared/src/main/scala/observe/model/ObservationProgress.scala
Due: Label model PRs, Label modules PRs

regenerate workflow
  .mergify.yml
Due: none

Remove unused libraries
  build.sbt
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  project/Settings.scala
Due: Label modules PRs, Label server_new PRs

bump lucuma-ui, add running step to ExecutionState
  .gitignore
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/BroadcastEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  project/Settings.scala
Due: Label model PRs, Label modules PRs, Label web PRs

first contact
  modules/web/client/src/main/publicdev/environments.conf.json
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/server/src/main/resources/app.conf
Due: Label modules PRs, Label server PRs, Label web PRs

conditions tab, working with server
  build.sbt
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/client/vite.config.js
  project/Settings.scala
Due: Label model PRs, Label modules PRs, Label server_new PRs, Label web PRs

fix gitignore
  modules/web/client/src/main/publicdev/environments.conf.json
Due: Label modules PRs, Label web PRs

fix gitignore
  .gitignore
Due: none

fix test
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
Due: Label model PRs, Label modules PRs

fix more tests
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
Due: Label modules PRs, Label server_new PRs

big initializatio refactor. establishing WS.
  modules/model/shared/src/main/scala/observe/model/Environment.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/model/AppConfig.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/main.jsx
  modules/web/client/vite.config.js
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  project/Settings.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

organize imports, show site and server version
  modules/model/shared/src/main/scala/observe/model/Environment.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

fix crystal version
  project/Settings.scala
Due: none

fix arbs
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbEnvironment.scala
Due: Label model PRs, Label modules PRs

Send auth token to API
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label modules PRs, Label web PRs

Require SSO authentication to access the routes
  build.sbt
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/jvm/src/main/scala/observe/model/config/LucumaSSOConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/BatchCommandState.scala
  modules/model/shared/src/main/scala/observe/model/authentication.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/SequenceEventsArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  project/Settings.scala
Due: Label engine PRs, Label model PRs, Label modules PRs, Label server PRs, Label server_new PRs, Label web PRs

Addresses PR comments
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

Send the execution state on refresh
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

Simplify model as suggested on PR comments
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
Due: Label model PRs, Label modules PRs
