Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label common-graphql PRs, Label engine PRs, Label giapi PRs, Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label ocs2_api PRs, Label server PRs

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label giapi PRs:
  label:
    add:
    - giapi
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server PRs:
  label:
    add:
    - observe-server
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label ocs2_api PRs:
  label:
    add:
    - ocs2_api
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

vite changes
  .vite/deps_temp/_metadata.json
  .vite/deps_temp/process.js
  .vite/deps_temp/process.js.map
Due: none

Intermediate commit, some progress
  build.sbt
  modules/new_web/src/main/scala/observe/demo/package.scala
  modules/new_web/src/main/scala/observe/ui/Icons.scala
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/Home.scala
  modules/new_web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepToolsCell.scala
  modules/new_web/src/main/webapp/styles/observe.scss
  modules/new_web/vite.config.js
  project/Settings.scala
Due: Label server PRs

let's algorithm
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
Due: Label server PRs

refactor
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  project/Settings.scala
Due: Label server PRs

this is finally working
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
Due: Label server PRs

still working
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepToolsCell.scala
Due: Label server PRs

hmmm
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
Due: Label server PRs

clue start
  modules/web/src/main/scala/observe/ui/components/Home.scala
Due: Label server PRs

cleanup
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
Due: Label server PRs

type tag
  modules/new_model/shared/src/main/scala/observe/model/enums/ExecutionStepType.scala
  modules/new_web/src/main/scala/observe/demo/package.scala
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

mutable model
  modules/new_web/src/main/scala/observe/ui/components/Home.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
Due: Label server PRs

breakpoint icons
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/webapp/styles/observe.scss
  project/Settings.scala
  project/plugins.sbt
Due: Label server PRs

more styling
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

add comment
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

more table implementation
  modules/new_model/shared/src/main/scala/observe/model/RunningStep.scala
  modules/new_web/src/main/scala/observe/demo/package.scala
  modules/new_web/src/main/scala/observe/ui/Icons.scala
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/Home.scala
  modules/new_web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepToolsCell.scala
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

skip rows, table styling
  modules/new_web/src/main/scala/observe/ui/Icons.scala
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/Home.scala
  modules/new_web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

split control column
  modules/new_web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/new_web/src/main/scala/observe/ui/components/sequence/steps/StepToolsCell.scala
  modules/new_web/src/main/webapp/styles/observe.scss
Due: Label server PRs

this works
  build.sbt
  modules/new_web/project/build.properties
  modules/new_web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  project/Settings.scala
Due: Label server PRs

more styling
  modules/new_web/src/main/scala/observe/ui/components/Home.scala
  modules/new_web/src/main/webapp/styles/observe.scss
  modules/new_web/src/main/webapp/styles/prime.scss
Due: Label server PRs

clue start
  build.sbt
  project/plugins.sbt
Due: none

Partial implementation
  modules/server/src/main/scala/observe/server/ODBSequencesLoader.scala
Due: Label server PRs

Rebased branch.
  modules/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server/src/main/scala/observe/server/ObserveEngine.scala
  modules/server/src/main/scala/observe/server/SeqTranslate.scala
  modules/server/src/main/scala/observe/server/SequenceConfiguration.scala
  modules/server/src/main/scala/observe/server/gcal/Gcal.scala
  modules/server/src/main/scala/observe/server/gcal/GcalController.scala
  modules/server/src/main/scala/observe/server/gcal/GcalControllerEpics.scala
  modules/server/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server/src/main/scala/observe/server/tcs/BasicEpicsTcsConfig.scala
  modules/server/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  modules/server/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server/src/main/scala/observe/server/transition/OcsOdbTranslator.scala
  modules/server/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSpec.scala
Due: Label server PRs

Rebased branch
  modules/server/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
  modules/server/src/main/scala/observe/server/gmos/GmosNorth.scala
  modules/server/src/main/scala/observe/server/gmos/GmosNorthControllerEpics.scala
  modules/server/src/main/scala/observe/server/gmos/GmosSouth.scala
  modules/server/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
  modules/server/src/main/scala/observe/server/transition/GmosTranslator.scala
Due: Label server PRs

Created separate module for port.
  build.sbt
  modules/model/shared/src/main/scala/observe/model/enums/BatchExecState.scala
  modules/server/src/main/scala/observe/server/ObserveEngine.scala
  modules/server/src/main/scala/observe/server/SeqTranslate.scala
  modules/server/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/ExecutionQueue.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveFailure.scala
  modules/server_new/src/main/scala/observe/server/ObserveMetrics.scala
  modules/server_new/src/main/scala/observe/server/Response.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClient.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/server_new/src/main/scala/observe/server/keywords/Header.scala
  modules/server_new/src/main/scala/observe/server/keywords/package.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/pureconfig/module/http4s/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/GuideConfigDbRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveUIApiRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
Due: Label model PRs, Label server PRs

Updated libraries.
  project/Settings.scala
Due: none

Removed ocs2 glue library.
  build.sbt
  modules/common-graphql/src/main/scala/observe/common/ObsQueriesGQL.scala
  modules/ocs2_api/src/main/scala/gem/ocs2/model/CoAdds.scala
  modules/ocs2_api/src/main/scala/gem/ocs2/model/Dataset.scala
  modules/ocs2_api/src/main/scala/gem/ocs2/pio/PioParse.scala
  modules/ocs2_api/src/main/scala/ocs2/Parsers.scala
  modules/ocs2_api/src/main/scala/ocs2/config/F2Config.scala
  modules/ocs2_api/src/main/scala/ocs2/config/GcalConfig.scala
  modules/ocs2_api/src/main/scala/ocs2/config/GmosConfig.scala
Due: Label common-graphql PRs, Label ocs2_api PRs, Label server PRs

adjustments
  .scalafmt.conf
  build.sbt
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/vite.config.js
Due: Label server PRs

Updated scala version.
  build.sbt
Due: none

Regenerated github workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Run scalafmtSbt on the project
  .scalafmt-common.conf
  build.sbt
  project/Settings.scala
Due: none

Configure scalafmt to use dialect scala3
  .scalafmt.conf
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/giapi/src/main/scala/giapi/client/commands/package.scala
  modules/giapi/src/main/scala/giapi/client/package.scala
  modules/model/shared/src/main/scala/observe/common/FixedLengthBuffer.scala
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/enums/DailyProgramType.scala
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/observe/web/server/security/FreeLDAPAuthenticationService.scala
  modules/web/server/src/main/scala/observe/web/server/security/HttpAuthenticator.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label engine PRs, Label giapi PRs, Label model PRs, Label server PRs

Removed commented code.
  modules/common-graphql/src/main/scala/observe/common/ObsQueriesGQL.scala
Due: Label common-graphql PRs, Label server PRs

adopt sbt-clue plugin
  build.sbt
  modules/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  project/plugins.sbt
Due: Label server PRs

fix rebase
  build.sbt
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server PRs

regenerate workflows
  .mergify.yml
Due: none

adopt sbt-clue plugin
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server PRs

Path conditions:
  Label common-graphql PRs: any of: ^modules/common-graphql/
  Label engine PRs: any of: ^modules/engine/
  Label giapi PRs: any of: ^modules/giapi/
  Label model PRs: any of: ^modules/model/
  Label observe-server PRs: any of: ^app/observe-server/
  Label observe-server-gn PRs: any of: ^app/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^app/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^app/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^app/observe-server-gs-test/
  Label ocs2_api PRs: any of: ^modules/ocs2_api/
  Label server PRs: any of: ^modules/
