Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label engine PRs, Label giapi PRs, Label model PRs, Label modules PRs, Label new_model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label server PRs, Label server_new PRs, Label web PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label giapi PRs
  conditions:
  - files~=^modules/giapi/
  actions:
    label:
      add:
      - giapi
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label modules PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - modules
      remove: []
- name: Label new_model PRs
  conditions:
  - files~=^modules/new_model/
  actions:
    label:
      add:
      - new_model
      remove: []
- name: Label observe-server PRs
  conditions:
  - files~=^app/observe-server/
  actions:
    label:
      add:
      - observe-server
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^app/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^app/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^app/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^app/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label web PRs
  conditions:
  - files~=^modules/web/
  actions:
    label:
      add:
      - web
      remove: []

regenerate scalafmt
  .scalafmt-common.conf
Due: none

unify sequence row model
  modules/new_model/shared/src/main/scala/observe/model/SequenceStep.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/src/main/scala/observe/ui/model/formatting.scala
  modules/web/src/main/scala/observe/ui/model/reusability.scala
  project/Settings.scala
Due: Label modules PRs, Label new_model PRs, Label web PRs

extract dynamic table to lucuma-ui, org imports
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/Routing.scala
  modules/web/src/main/scala/observe/ui/components/HeadersSideBar.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/ThemeSelector.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/vite.config.js
  project/Settings.scala
Due: Label modules PRs, Label web PRs

breakpoints, share columns, styling
  modules/new_model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SequenceState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SystemName.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/src/main/scala/observe/ui/display/givens.scala
  modules/web/src/main/scala/observe/ui/model/reusability.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/src/main/webapp/styles/observe.scss
  modules/web/vite.config.js
  project/Settings.scala
Due: Label modules PRs, Label new_model PRs, Label web PRs

new theme selector
  build.sbt
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/ThemeSelector.scala
  modules/web/src/main/scala/observe/ui/components/TopBar.scala
  project/Settings.scala
Due: Label modules PRs, Label web PRs

layout
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/Page.scala
  modules/web/src/main/scala/observe/ui/Routing.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/model/Page.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueFilter.scala
  modules/web/src/main/scala/observe/ui/model/enums/AppTab.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label modules PRs, Label web PRs

Ported all GCAL code, including tests.
  modules/server/src/main/scala/observe/server/gcal/Gcal.scala
  modules/server_new/src/main/scala/observe/server/gcal/Gcal.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalController.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerDisabled.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerSim.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalEpics.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gcal/package.scala
  modules/server_new/src/test/scala/observe/server/gcal/GcalArbitraries.scala
  modules/server_new/src/test/scala/observe/server/gcal/GcalSpec.scala
Due: Label modules PRs, Label server_new PRs

Fixed code to create sequences.
  app/observe-server-gn/src/main/resources/app.conf
  app/observe-server-gs/src/main/resources/app.conf
  modules/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  modules/server/src/main/scala/observe/server/gsaoi/GsaoiControllerEpics.scala
  modules/server/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/main/scala/observe/server/FileIdProvider.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSpecifics.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSystem.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepType.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/altair/Altair.scala
  modules/server_new/src/main/scala/observe/server/gcal/Gcal.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorth.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouth.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiController.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiControllerSim.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiEpics.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/package.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web_old/server/src/main/resources/app.conf
Due: Label model PRs, Label modules PRs, Label observe-server-gn PRs, Label observe-server-gs PRs, Label server_new PRs

Restored loading and starting onservations.
  build.sbt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/TelescopeGuideConfig.scala
  modules/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/CaServiceInit.scala
  modules/server_new/src/main/scala/observe/server/ExecutionQueue.scala
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSpecifics.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/altair/Altair.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerSim.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorth.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouth.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiController.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiControllerSim.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/GuideConfigDb.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerDisabled.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/test/scala/observe/server/TestEpicsCommand.scala
  modules/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
Due: Label engine PRs, Label model PRs, Label modules PRs, Label server_new PRs

Fixed engine tests.
  modules/engine/src/test/scala/observe/engine/SequenceSpec.scala
  modules/engine/src/test/scala/observe/engine/StepSpec.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
Due: Label engine PRs, Label modules PRs, Label server_new PRs

Added Lens tests for GudieConfig.
  modules/model/shared/src/test/scala/observe/model/arb/ArbLength.scala
  modules/model/shared/src/test/scala/observe/model/arb/package.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsController.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/tcs/GuideConfigDb.scala
  modules/server_new/src/test/scala/observe/server/altair/ArbAltairConfig.scala
  modules/server_new/src/test/scala/observe/server/gems/ArbGemsConfig.scala
  modules/server_new/src/test/scala/observe/server/tcs/GuideConfigDbSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsArbitraries.scala
Due: Label model PRs, Label modules PRs, Label server_new PRs

General cleanups
  build.sbt
  modules/model/shared/src/test/scala/io/chrisdavenport/cats/time/instances/TimeArbitraries.scala
  modules/model/shared/src/test/scala/observe/common/FixedLengthBufferSuite.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/ModelBooPicklersSpec.scala
  modules/server/src/main/scala/observe/server/CleanConfig.scala
  modules/server/src/main/scala/observe/server/ConfigUtilOps.scala
  modules/server/src/test/scala/observe/server/CleanConfigSpec.scala
  modules/server/src/test/scala/observe/server/ConfigUtilSpec.scala
  project/Settings.scala
  project/plugins.sbt
  scalastyle-config.xml
Due: Label model PRs, Label modules PRs

Port test to munit
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
Due: Label engine PRs, Label modules PRs

Remove warnings
  build.sbt
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/giapi/src/test/scala/giapi/client/GiapiCommandSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiStatusSuite.scala
  modules/giapi/src/test/scala/giapi/client/commands/CommandsSuite.scala
  modules/model/jvm/src/test/scala/observe/model/config/ConfigModelSuite.scala
  modules/model/shared/src/main/scala/observe/model/TelescopeGuideConfig.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/NSSubexposureSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/BasicEpicsTcsConfig.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/test/scala/observe/server/gcal/GcalSuite.scala
  modules/server_new/src/test/scala/observe/server/gmos/GmosSpec.scala
  modules/server_new/src/test/scala/observe/server/tcs/GuideConfigDbSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuiite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSuite.scala
  project/Common.scala
  project/Settings.scala
  project/build.properties
Due: Label engine PRs, Label giapi PRs, Label model PRs, Label modules PRs, Label server_new PRs

Port two tests
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/test/scala/observe/server/EpicsUtilSuite.scala
  modules/server_new/src/test/scala/observe/server/InstrumentControllerSimSuite.scala
  project/Common.scala
Due: Label modules PRs, Label server_new PRs

Restore deleted test descriptions
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
Due: Label engine PRs, Label modules PRs, Label server_new PRs

Add missing type ascription
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
Due: Label modules PRs, Label server_new PRs

Remove metrics
  build.sbt
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveMetrics.scala
  project/Settings.scala
Due: Label modules PRs, Label server_new PRs

Restored the CA xml files.
  modules/server_new/src/main/resources/Altair.xml
  modules/server_new/src/main/resources/DhsHdr.xml
  modules/server_new/src/main/resources/Flamingos2.xml
  modules/server_new/src/main/resources/Gcal.xml
  modules/server_new/src/main/resources/Gems.xml
  modules/server_new/src/main/resources/Gmos.xml
  modules/server_new/src/main/resources/Gnirs.xml
  modules/server_new/src/main/resources/Gsaoi.xml
  modules/server_new/src/main/resources/Gws.xml
  modules/server_new/src/main/resources/Nifs.xml
  modules/server_new/src/main/resources/Niri.xml
  modules/server_new/src/main/resources/Tcs.xml
Due: Label modules PRs, Label server_new PRs

Remove more unused dependencies
  build.sbt
  project/Settings.scala
Due: none

Port more tests
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/server/src/test/scala/observe/server/ObserveEngineSpec.scala
  modules/server/src/test/scala/observe/server/StepsViewSpec.scala
  modules/server/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label engine PRs, Label modules PRs, Label server_new PRs

Speed up ModelLensSuite
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/ModelBooPicklersSuite.scala
  modules/server_new/src/test/scala/observe/server/KeywordArbitraries.scala
  modules/server_new/src/test/scala/observe/server/KeywordsSpec.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label model PRs, Label modules PRs, Label server_new PRs

Restored keywords tests.
  modules/server_new/src/main/scala/observe/server/keywords/GdsClient.scala
  modules/server_new/src/test/resources/gds-bad-resp.xml
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/GdsClientSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/KeywordArbitraries.scala
  modules/server_new/src/test/scala/observe/server/keywords/KeywordsSpec.scala
Due: Label modules PRs, Label server_new PRs

Rebased branch
  modules/server_new/src/test/scala/observe/server/KeywordArbitraries.scala
  modules/server_new/src/test/scala/observe/server/KeywordsSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/KeywordsSpec.scala
Due: Label modules PRs, Label server_new PRs

Port StepsViewNSSuite
  modules/server_new/src/test/scala/observe/server/StepsViewNSSpec.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label modules PRs, Label server_new PRs

Port ExecutionQueueSuite
  modules/server_new/src/main/scala/observe/server/ExecutionQueue.scala
  modules/server_new/src/test/scala/observe/server/ExecutionQueueSuite.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
Due: Label modules PRs, Label server_new PRs

First stage, web server starting and connecting to the ODB
  build.sbt
  modules/model/jvm/src/main/scala/observe/model/config/ControlStrategy.scala
  modules/model/jvm/src/main/scala/observe/model/config/LucumaSSOConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/SmartGcalConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/WebServerConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/package.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/server/TLS.md
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/resources/logback.xml
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/PingRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/RedirectToHttpsRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web_old/server/src/main/scala/observe/web/server/config/package.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/ClientsSetDb.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/PingRoutes.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/authentication.scala
  project/Settings.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label server_new PRs, Label web PRs

atom boundaries
  modules/web/src/main/webapp/styles/observe.scss
Due: Label modules PRs, Label web PRs

breakpoints with box-shadow!
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/src/main/webapp/styles/observe.scss
  modules/web/vite.config.js
Due: Label modules PRs, Label web PRs

atom separators
  modules/web/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/src/main/webapp/styles/observe.scss
Due: Label modules PRs, Label web PRs

Setup TLS and switch to Ember
  modules/model/jvm/src/main/scala/observe/model/config/WebServerConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/tcs/GuideConfigDb.scala
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label server_new PRs, Label web PRs

Cleanup build file
  build.sbt
  project/plugins.sbt
Due: none

Setup guide config route
  modules/web/server/src/main/scala/observe/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/GuideConfigDbRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label modules PRs, Label server PRs, Label web PRs

Add base routes
  flake.nix
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Due: Label modules PRs, Label server PRs, Label web PRs

Restore Command route test
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientProvider.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/stateengine/src/main/scala/stateengine/Handler.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  modules/web_old/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
Due: Label modules PRs, Label server PRs, Label server_new PRs, Label web PRs

Remove unused dependencies
  build.sbt
  project/Settings.scala
Due: none

Add event routes
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs

Remove boopickle
  build.sbt
  modules/model/shared/src/main/scala/observe/model/boopickle/ModelBooPicklers.scala
  modules/model/shared/src/main/scala/observe/model/boopickle/package.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/ModelBooPicklersSuite.scala
  project/Settings.scala
Due: Label model PRs, Label modules PRs

Add routes to change conditions
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/encoder/BooEncoders.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/encoder/package.scala
Due: Label model PRs, Label modules PRs, Label server PRs, Label web PRs
