Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label engine PRs, Label model PRs, Label observe-server PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs, Label web PRs, Label web-clue PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server PRs
  conditions:
  - files~=^app/observe-server/
  actions:
    label:
      add:
      - observe-server
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^app/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^app/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^app/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^app/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []
- name: Label web PRs
  conditions:
  - files~=^modules/web/
  actions:
    label:
      add:
      - web
      remove: []
- name: Label web-clue PRs
  conditions:
  - files~=^modules/web-clue/
  actions:
    label:
      add:
      - web-clue
      remove: []

Restore ping route
  modules/web/server/src/main/scala/observe/web/server/http4s/PingRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs, Label web PRs

Restore the load route
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

Use fromTag
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Due: Label server PRs, Label web PRs

Reconnection on error. Disable while in flight.
  build.sbt
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  project/Settings.scala
Due: Label server PRs, Label web PRs

restore server file
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Due: Label server PRs, Label web PRs

implement pr suggestions
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/ApiStatus.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/SyncStatus.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label web PRs

robust resync. fix state update.
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/SyncStatus.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label web PRs

Enable execute subsystems
  build.sbt
  modules/model/shared/src/main/scala/observe/model/SingleActionOp.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Due: Label model PRs, Label server PRs, Label web PRs

Add routes tests
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label model PRs, Label server PRs, Label web PRs

remove infinite refresh loop
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label web PRs

Restore methods to enable/disable subsystems
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/EpicsUtilSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

Log user and client id
  modules/model/shared/src/main/scala/observe/model/Environment.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

Restore endpoint to set a breakpoint
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/Step.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label engine PRs, Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

fix instrument name in test
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label server PRs, Label web PRs

edit operator
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
Due: Label model PRs, Label web PRs

refactor clientId, set initial operator name
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

setting breakpoints
  modules/model/shared/src/main/scala/observe/model/BatchCommandState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceMetadata.scala
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

fix (some) tests
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
Due: Label model PRs, Label server_new PRs

restructure api interface
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/BaseApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

format
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
Due: Label web PRs

Implement start command
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Due: Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

Restore methos to set operator and observer
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label model PRs, Label server PRs, Label web PRs

Support user prompt messages
  modules/model/shared/src/main/scala/observe/model/UserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbUserPrompt.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label model PRs, Label server_new PRs, Label web PRs

loaded observations moved to root model
  build.sbt
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
Due: Label web PRs

display obs header
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

regenerate
  .mergify.yml
Due: none

load sequence
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

Support setting multiple breakpoints and set breakpoints on load
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/Step.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/Step.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label engine PRs, Label model PRs, Label server PRs, Label server_new PRs, Label web PRs

Add a test and send the observer event after the breakpoints event
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label engine PRs, Label server PRs, Label server_new PRs, Label web PRs

execution state from server, start working
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label web PRs

running!
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label web PRs

initialization fixed
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label web PRs

remove/reinstatiate commented code
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
Due: Label web PRs

pass breakpoints from odb to server upon load
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label web PRs

Update to the queries used to send events while observing
  modules/model/shared/src/main/scala/observe/model/dhs/package.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/InstrumentControllerSimSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  project/Settings.scala
Due: Label model PRs, Label server_new PRs

row selection in UI
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/enums/ActionStatus.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label model PRs, Label web PRs

disable scalafmt
  .scalafmt.conf
Due: none

organize imports, reinstate scalafmt
  .scalafmt.conf
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
Due: Label model PRs

run scalafmt
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
Due: Label web PRs
